---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block" style="  text-align: center;">
          <h1 class="animated fadeInUp"><strong>SIGIR 2020</strong></h1>
          <p class="animated fadeInUp">43rd International ACM SIGIR Conference on Research and Development in Information Retrieval</p>
          <p><strong>July 26-30, 2020 (Xi'an, China)</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Save the Date</h2>
            <p>
                SIGIR conference (since 1971) focuses on research and development in information retrieval. 
                It is the major international forum for the presentation of new research and the demonstration of new systems and techniques in the broad field of information retrieval. 
                The 5 days conference including 1 day tutorials, 3 days main conference (keynote speech, panel, research session, doctoral consortium, industry track, demonstration, poster) and 1 day workshops, as well as many academic and social events.
                 We cordially invite all those working in areas related to IR to submit your original works including theories and foundations, algorithms and applications, evaluation and analysis to the conference.
            </p>
            <!-- Dates start -->
            <div class="tile" style="padding: 10px 10px 2px 10px;">

                <div style="font-size:1.5em; margin-bottom:10px;">Important Dates</div>

                <div class="list-group">

                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">July 25-31, 2020</span>
                        <div class="list-group-item-text">Main Conference</div>
                    </a>

                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Jan 15, 2020</span>
                        <div class="list-group-item-text">Full Paper Abstracts Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Jan 22, 2020</span>
                        <div class="list-group-item-text">Full Paper Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Full Paper Notification
                        </div>
                    </a>

                    <!-- Short Paper -->
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Feb 13, 2020</span>
                        <div class="list-group-item-text">Short Paper Abstracts Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Feb 20, 2020</span>
                        <div class="list-group-item-text">Short Paper Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Short Paper Notification
                        </div>
                    </a>

                    <!-- Tutorial -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Feb 27, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal Notification
                        </div>
                    </a>

                    <!-- Workshop Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Feb 27, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal Notification
                        </div>
                    </a>

                    <!-- Demo Paper -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 5, 2020</span>
                        <div class="list-group-item-text">Demo Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Demo Paper Notification
                        </div>
                    </a>

                    <!-- Doctoral consortium paper -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 5, 2020</span>
                        <div class="list-group-item-text">Doctoral Consortium Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Doctoral Consortium Paper Notification
                        </div>
                    </a>

                    <!-- SIGIP Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">SIGIR Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 30, 2020</span>
                        <div class="list-group-item-text">SIGIR Proposal Notification
                        </div>
                    </a>

                    <!-- SIGIP Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 30, 2020</span>
                        <div class="list-group-item-text">Workshop Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">May 28, 2020</span>
                        <div class="list-group-item-text">Workshop Paper Notification
                        </div>
                    </a>
                    
<!-- 
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">TBD</span>
                        <div class="list-group-item-text">Late Registration Due</div>
                    </a>

                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">TBD</span>
                        <div class="list-group-item-text">Workshops</div>
                    </a> -->


                </div>

            </div>
            <!-- Dates End -->
          </div>
          
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/xian-china.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section> -->

<!-- Service Start
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
