---
layout: page
title: SIGIR 2020
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block" style="  text-align: center;">
          <h1 class="animated fadeInUp"><strong>SIGIR 2020</strong></h1>
          <p class="animated fadeInUp">43<sup>rd</sup> International ACM SIGIR Conference on Research and Development in Information Retrieval</p>
          <p><strong>July 25-30, 2020 (Xi'an, China)</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Save the Date</h2>
            <p>
                SIGIR conference (since 1971) focuses on research and development in information retrieval. 
                It is the major international forum for the presentation of new research and the demonstration of new systems and techniques in the broad field of information retrieval. 
                The 5 days conference including 1 day tutorials, 3 days main conference (keynote speech, panel, research session, doctoral consortium, industry track, demonstration, poster) and 1 day workshops, as well as many academic and social events.
                We cordially invite all those working in areas related to IR to submit your original works including theories and foundations, algorithms and applications, evaluation and analysis to the conference.
            </p>
            <h3>Useful quick links</h3>

            <ul class="list">
              <li>Detailed schedule: <a href="https://easychair.org/cfp/sigir2020">https://easychair.org/cfp/sigir2020</a></li>
              <li>EasyChair submission: <a href="https://easychair.org/my/conference?conf=sigir2020">https://easychair.org/my/conference?conf=sigir2020</a></li>
            </ul>

            

            <!-- Dates start -->
            <h3>Important Dates</h3>
            <div class="tile" style="padding: 10px 10px 2px 10px;">

                <div class="list-group">

                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">July 25-30, 2020</span>
                        <div class="list-group-item-text">Main Conference</div>
                    </a>

                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Jan 15, 2020</span>
                        <div class="list-group-item-text">Full Paper Abstracts Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Jan 22, 2020</span>
                        <div class="list-group-item-text">Full Paper Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Full Paper Notification
                        </div>
                    </a>

                    <!-- Short Paper -->
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Feb 13, 2020</span>
                        <div class="list-group-item-text">Short Paper Abstracts Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text" >
                        <span class="badge">Feb 20, 2020</span>
                        <div class="list-group-item-text">Short Paper Due
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Short Paper Notification
                        </div>
                    </a>

                    <!-- Tutorial -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Feb 27, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal Notification
                        </div>
                    </a>

                    <!-- Workshop Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Feb 27, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">Tutorial Proposal Notification
                        </div>
                    </a>

                    <!-- Demo Paper -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 5, 2020</span>
                        <div class="list-group-item-text">Demo Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Demo Paper Notification
                        </div>
                    </a>

                    <!-- Doctoral consortium paper -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 5, 2020</span>
                        <div class="list-group-item-text">Doctoral Consortium Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 16, 2020</span>
                        <div class="list-group-item-text">Doctoral Consortium Paper Notification
                        </div>
                    </a>

                    <!-- SIGIP Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Mar 26, 2020</span>
                        <div class="list-group-item-text">SIGIR Proposal
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 30, 2020</span>
                        <div class="list-group-item-text">SIGIR Proposal Notification
                        </div>
                    </a>

                    <!-- SIGIP Proposal -->
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">Apr 30, 2020</span>
                        <div class="list-group-item-text">Workshop Paper
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-text">
                        <span class="badge">May 28, 2020</span>
                        <div class="list-group-item-text">Workshop Paper Notification
                        </div>
                    </a>
                    
                </div>

                <div>
                    <h2>List of Topics</h2>

                    <p>Relevant topics include, but are not limited to:</p>
                    
                    <p><strong>Search and Ranking.</strong></p>
                    
                    <ul class="list">
                      <li>Research on core IR algorithmic topics, including IR at scale.</li>
                      <li>Queries and Query Analysis (e.g., query intent, query understanding, query suggestion and prediction, query representation and reformulation, spoken queries).</li>
                      <li>Web Search (e.g., ranking at Web scale, link analysis, sponsored search, search advertising, adversarial search and spam, vertical search).</li>
                      <li>Retrieval Models and Ranking (e.g., ranking algorithms, learning to rank, language models, retrieval models, combining searches, diversity and aggregated search).</li>
                      <li>Efficiency and Scalability (e.g., indexing, crawling, compression, search engine architecture, distributed search, metasearch, peer-to-peer search, search in the cloud).</li>
                    </ul>
                    
                    <p><strong>Foundations and Future Directions.</strong></p>
                    
                    <ul class="list">
                      <li>Research with theoretical or empirical contributions on new technical or social aspects of IR, especially in more speculative directions or with emerging technologies.</li>
                      <li>Theoretical models and foundations of information retrieval and access.</li>
                      <li>Novel approaches to IR (e.g., as part of a vision for important future IR scenarios)</li>
                      <li>Ethics, Economics, and Politics (e.g., studies on ethical views and implications, economic value, political impact).</li>
                      <li>IR with new devices (e.g., consumer devices, wearable computing, neuroinformatics, sensors, Internet-of-Things, vehicles).</li>
                    </ul>
                    
                    <p><strong>Domain-Specific Applications.</strong></p>
                    
                    <ul class="list">
                      <li>Research focusing on domain-specific IR challenges.</li>
                      <li>Local and Mobile Search (e.g., location-based search, mobile usage understanding, mobile result presentation, audio and touch interfaces, geographic search, location context in search).</li>
                      <li>Social Search (e.g., social networks in search, social media in search, blog and microblog search, forum search).</li>
                      <li>Search in Structured Data (e.g., XML search, ranking in databases, desktop search, email search, entity-oriented search).</li>
                      <li>Multimedia Search (e.g., image search, video search, speech and audio search, music search).</li>
                      <li>Education (e.g,. search for educational support, peer matching, info seeking in online courses/MOOCs).</li>
                      <li>Legal (e.g., e-discovery, patents, other applications in law).</li>
                      <li>Health (e.g., medical, genomics, bioinformatics, other applications in health).</li>
                      <li>Other Applications and Specialized Domains (e.g., digital libraries, enterprise, expert search, news search, app search, archival search, new retrieval problems including applications of search technology for social good).</li>
                    </ul>
                    
                    <p><strong>Content Recommendation, Analysis and Classification.</strong></p>
                    
                    <ul class="list">
                      <li>Research focusing on recommender systems, rich content representations and content analysis.</li>
                      <li>Filtering and Recommending (e.g., content-based filtering, collaborative filtering, recommender systems, recommendation algorithms, zero-query and implicit search, personalized recommendation).</li>
                      <li>Document Representation and Content Analysis (e.g., summarization, text representation, linguistic analysis, readability, NLP for search applications, cross- and multi-lingual search, information extraction, opinion mining and sentiment analysis, clustering, classification, topic models).</li>
                    </ul>
                    
                    <p><strong>Artificial Intelligence, Semantics, and Dialog.</strong></p>
                    
                    <ul class="list">
                      <li>Research bridging AI and IR, especially toward deep semantics and dialog with intelligent agents.</li>
                      <li>Question Answering (e.g., factoid and non-factoid question answering, interactive question answering, community-based question answering, question answering systems).</li>
                      <li>Conversational systems (e.g., conversational search interaction, dialog systems, spoken language interfaces, intelligent chat systems).</li>
                      <li>Semantics (e.g., semantic search, knowledge graphs)</li>
                      <li>AI (e.g., deep learning for IR, embeddings, intelligent personal assistants and agents)</li>
                    </ul>
                    
                    <p><strong>Human factors and interfaces.</strong></p>
                    
                    <ul class="list">
                      <li>Research into user-centric aspects of IR including user interfaces, behavior modeling, privacy, interactive systems, and evaluation.</li>
                      <li>Mining and Modeling Search Activity (e.g., user and task models, click models, log analysis, behavioral analysis, modeling and simulation of information interaction, attention modeling).</li>
                      <li>Interactive Search (e.g., search interfaces, information access, exploratory search, search context, whole-session support, proactive search, personalized search).</li>
                      <li>Evaluation (e.g., user studies, test collections, experimental design, effectiveness measures, session-based evaluation, user engagement).</li>
                      <li>Searching Socially (e.g., collaborative search, social tagging, crowdsourcing)</li>
                      <li>Information Security (e.g., censorship, privacy, encryption, security in IR)&nbsp;</li>
                    </ul>
                </div>

            </div>
            <!-- Dates End -->
          </div>
          
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/xian-china.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section> -->

<!-- Service Start
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
