<div class="col-sm-12 col-md-9">
    <h2>Conference Organization</h2>
    <div id="organizers">
        

        <h4>General co-Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://yichang-cs.com/">
                        <img src="img/organizers/yi_chang.jpg" />Yi Chang</a><br />
                    Jilin University, China
                </div>
            </li>

            <li class="person-card">
                <div>
                    <a href="http://www.bigdatalab.ac.cn/~cxq/">
                        <img src="img/organizers/Xueqi_Cheng.jpg" />Xueqi Cheng</a><br />
                    Chinese Academy of Sciences, China
                </div>
            </li>

            <li class="person-card">
                <div>
                    <a href="http://www.yorku.ca/jhuang/">
                        <img src="img/organizers/jimmy_huang.jpg" />Jimmy Huang</a><br />
                    York University, Canada
                </div>
            </li>

        </ul>

        <h4>Vice Chair</h4>
        <ul>

            <li class="person-card">
                <div>
                    <a href="http://www.thuir.cn/group/~YQLiu/">
                        <img src="img/organizers/yiqun_liu.jpg" />Yiqun Liu</a><br />
                    Tsinghua University, China
                </div>
            </li>
        </ul>
        <h4>Program co-Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.uva.nl/profiel/k/a/j.kamps/j.kamps.html">
                        <img src="img/organizers/Jaap.jpg" />Jaap Kamps</a><br />
                    University of Amsterdam, Netherlands
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/vanessamurdock/">
                        <img src="img/organizers/murdock.jpg" />Vanessa Murdock</a><br />
                    Amazon, U.S.A
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://scholar.google.com/citations?user=tbxCHJgAAAAJ&hl=en">
                        <img src="img/organizers/Ji-Rong_Wen.jpeg" />Ji-Rong Wen</a><br />
                    Renmin University of China, China
                </div>
            </li>

        </ul>
        <h4>Short Paper Program co-Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://abdiganidiriye.com/">
                        <img src="img/organizers/abdigani.jpeg" />Abdigani Diriye</a><br />
                    Amazon, U.K.
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="http://www.bigdatalab.ac.cn/~gjf/">
                        <img src="img/organizers/jiafeng.jpg" />Jiafeng Guo</a><br />
                    Chinese Academy of Sciences, China
                </div>
            </li>

            <li class="person-card">
                <div>
                    <a href="https://iew3.technion.ac.il/~kurland/">
                        <img src="img/organizers/oren.png" />Oren Kurland</a><br />
                    Israel Institute of Technology, Israel
                </div>
            </li>
        </ul>

        <h4>Best Paper Chair</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://www.is.informatik.uni-duisburg.de/staff/fuhr.html">
                        <img src="img/organizers/fuhr.jpg" />Norbert Führ</a><br />
                    University of Duisburg-Essen, Germany
                </div>
            </li>
            <!-- <li class="person-card">
                    <div>
                        <a href="https://yoelle.tumblr.com/homepage">
                            <img src="img/organizers/maarek.jpeg"/>Yoelle Maarek</a><br/>
                            Amazon
                    </div>
                </li> -->
        </ul>


        <h4>Test of Time Award Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://wp.comminfo.rutgers.edu/belkin/">
                        <img src="img/organizers/belkin.jpg" />Nicholas J.Belkin</a><br />
                    Rutgers University, U.S.A.
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a
                        href="https://www.uni-regensburg.de/sprache-literatur-kultur/informationswissenschaft/mitarbeiter/udo-kruschwitz/">
                        <img src="img/organizers/udo.jpeg" />Udo Kruschwitz</a><br />
                    Universität Regensburg, Germany
                </div>
            </li>
        </ul>

        <h4>Industry Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.microsoft.com/en-us/research/people/milads/">
                        <img src="img/organizers/milad.jpg" />Milad Shokouhi</a><br />
                    Microsoft Research Cambridge, U.K.
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/luo-si-00a5a54/">
                        <img src="img/organizers/luo.jpeg" />Luo Si</a><br />
                    Alibaba, China
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="http://infosense.cs.georgetown.edu/grace/">
                        <img src="img/organizers/grace.jpeg" />Grace Hui Yang</a><br />
                    Georgetown University, U.S.A
                </div>
            </li>
        </ul>

        <h4>Summer School Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://cs.uwaterloo.ca/about/people/claclark">
                        <img src="img/organizers/claclark_0.jpg" />Charlie Clarke</a><br />
                    University of Waterloo, Canada
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.hangli-hl.com/index.html">
                        <img src="img/organizers/hangLi.jpeg" />Hang Li</a><br />
                    ByteDance AI Lab, China
                </div>
            </li>
        </ul>

        <h4>Publicity Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.irit.fr/~Mohand.Boughanem/index_en.php">
                        <img src="img/organizers/mohand.jpeg" />Mohand Boughanem</a><br />
                    IRIT, Toulouse, France
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.computing.dcu.ie/~cgurrin/">
                        <img src="img/organizers/cathal.jpg" />Cathal Gurrin</a><br />
                    Dublin City University, Ireland
                </div>
            </li>

        </ul>

        <h4>Doctoral Consortium Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.barbara.cl/">
                        <img src="img/organizers/BPoblete.png" />Barbara Poblete</a><br />
                    University of Chile, Chile
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="http://qub.ac.uk/schools/eeecs/Connect/Staff/BusinessCard/?name=j.shen">
                        <img src="img/organizers/j.shen.jpg" />Jerry Shen</a><br />
                    Queen's University Belfast, U.K.
                </div>
            </li>
        </ul>

        <h4>Workshop Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.gla.ac.uk/schools/computing/staff/joemonjose/">
                        <img src="img/organizers/joemon.png" /> Joemon M Jose</a><br />
                    University of Glasgow, U.K.
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.cse.msu.edu/~tangjili/">
                        <img src="img/organizers/tang_jiliang.jpg" />Jiliang Tang</a><br />
                    Michigan State University, U.S.A.
                </div>
            </li>
        </ul>

        <h4>Demonstration Paper Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.ntu.edu.sg/home/axsun/">
                        <img src="img/organizers/AixinWeb.jpg" />Aixin Sun</a><br />
                    Nanyang Technological University, Singapore
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a
                        href="https://www.wlu.ca/academics/faculties/faculty-of-science/faculty-profiles/jiashu-zhao/index.html">
                        <img src="img/organizers/jessie_zhao.jpeg" />Jiashu (Jessie) Zhao</a><br />
                    Wilfrid Laurier University, Waterloo, Canada
                </div>
            </li>
        </ul>

        <h4>Tutorial Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.city.ac.uk/people/academics/andrew-macfarlane">
                        <img src="img/organizers/ANDYM.jpg" />Andrew MacFarlane</a><br />
                    City, University of London, U.K.
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/mounialalmas/">
                        <img src="img/organizers/mounia.jpeg" />Mounia Lalmas</a><br />
                    Spotify, U.K.
                </div>
            </li>
        </ul>

        <h4>Proceedings Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://www.cse.yorku.ca/~aan/">
                        <img src="img/organizers/aan6.jpg" />Aijun An</a><br />
                    York University, Canada
                </div>
            </li>
        </ul>

        <h4>Sponsorship Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/p%C3%A1raic-sheridan-54a3293/">
                        <img src="img/organizers/paraic.jpeg" />Paraic Sheridan</a><br />
                    Dublin City University, Ireland
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="http://www.yindawei.com/">
                        <img src="img/organizers/yindawei.jpg" />Dawei Yin</a><br />
                    JD.com, China
                </div>
            </li>

        </ul>

        <h4>Local Arrangement Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://see.xidian.edu.cn/faculty/xbgao/">
                        <img src="img/organizers/xinbo.jpeg" />Xinbo Gao</a><br />
                    Xidian University, China
                </div>
            </li>

        </ul>

        <h4>Student Volunteer Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://scholar.google.com/citations?user=2TQfvt8AAAAJ&hl=en">
                        <img src="img/organizers/miao.jpeg" />Qiguang Miao</a><br />
                    Xidian University, China
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://www.fst.um.edu.mo/en/staff/fstlmz.html">
                        <img src="img/organizers/liming.jpg" />Liming Zhang</a><br />
                    University of Macau, China
                </div>
            </li>
        </ul>

        <h4>Student Travel Award Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://online.wlu.ca/faculty/yang-liu">
                        <img src="img/organizers/Yang-Liu_0.jpg" />Yang Liu</a><br />
                    Wilfrid Laurier University, Waterloo, Canada
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="http://ifs.tuwien.ac.at/~lupu/">
                        <img src="img/organizers/lupu.jpg" />Mihai Lupu</a><br />
                    Vienna University of Technology, Austria
                </div>
            </li>
        </ul>

        <h4>Web Masters</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/sadra-abrishamkar-09609142/?originalSubdomain=ca">
                        <img src="img/organizers/sadra.jpeg" />Sadra Abrishamkar</a><br />
                    York University, Canada
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://sites.google.com/site/maojiaxin/">
                        <img src="img/organizers/mao.jpg" />Jiaxin Mao</a><br />
                    Tsinghua University, China
                </div>
            </li>
        </ul>

        <h4>Treasury Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.researchgate.net/profile/Zehua_Chen" target="_blank">
                        <img src="img/organizers/Zehua_Chen.jpg" />Zehua Chen</a><br />
                    Taiyuan University of Tech., China
                </div>
            </li>
            <li class="person-card">
                <div>
                    <a href="https://web.cs.dal.ca/~vlado/" target="_blank">
                        <img src="img/organizers/vlado4.jpg" />Vlado Keselj</a><br />
                    Dalhousie University, Canada
                </div>
            </li>
        </ul>

        <h4>Registration Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="https://www.linkedin.com/in/qinmin-vivian-hu-0372544/?originalSubdomain=ca"
                        target="_blank">
                        <img src="img/organizers/vivian.jpeg" />Vivian Hu</a><br />
                    Ryerson University, Canada
                </div>
            </li>
        </ul>

        <h4>Social Event Chair</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="http://profiles.laps.yorku.ca/profiles/georgop/" target="_blank">
                        <img src="img/organizers/georgop.jpg" />George Georgopoulos</a><br />
                    York University, Canada
                </div>
            </li>
        </ul>

        <h4>Women-in-IR Chairs</h4>
        <ul>
            <li class="person-card">
                <div>
                    <a href="" target="_blank">
                        <img src="img/organizers/na.png" />TBD</a><br />
                    <!-- York University, Canada  -->
                </div>
            </li>
        </ul>


        <div style="height: 30px; clear: both;"></div>

    </div>
</div>